:root {
    --primary-color: #003495;
    --secondary-color: #6250FF;
    --accent1-color: #6250FF;
    --accent2-color: #16639E;

    --heading-foot: 'Montserrat', serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body{
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-foot);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto
}

.hero {
    position: relative;
}

.hero>img{
    width: 100%
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff95;
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 3em;

}

.hero article{
    background-color: #ffffff61;
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.hero article img{
    float: right;
    margin: 2rem;
    width: 13rem
}

.hero article p {
    color: var(--secondary-color);;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}

footer{
    background-color: azure;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}

.social{
    grid-column: 3;
    align-self: end;
}

.social img{
    width: 3em;
}